 *{
    box-sizing: border-box;
    font-family: "Merriweather";
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.hero{
        position: relative;
}

.card-context{
    position: absolute;
    transform: translateY(-50%) translateX(3%);
    box-shadow: 0px 0px 5px 3px  rgb(94, 94, 94);
    background-color: white;
    width: 55%;
    padding: 2.5rem;
    padding-right: 5.1rem;
} .card-context p{
    color: grey;
} .orange-text{
    color: #F78065;
}
@media (width < 600px){
    .card-context{
        transform: translateY(-50%) translateX(31%);
        display: flex;
        flex-direction: column;
    }
}

.explore-button{
    background-color: #F78065;
    border: none;
    width: 9rem;
    height: 2.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} .explore-button img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.icon-wrapper{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    width: 100%;
    transform: translateY(50%);
} .profile-pil{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    background-color: white;
    width: 5rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    margin-right: 4rem;
} .arrow{
    transform: rotateZ(-90deg);
    font-weight: bolder;
} .cuby{
    margin-left: 4rem;
}


/* --- Main --- --- Service --- */

.services{
    max-width: 100%;
    height: 100%;
    margin-top: 18rem;
} .service-container{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
} .squirrel img{
    width: 11rem;
} .grey-text{
    color: grey;
} .squirrel-color{
    color: #F78065;
}
/* --- Main --- --- Show facility --- */
.facilities{
    margin-top: 5rem;
}
.show-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1rem;
}
.fac-container{
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    margin: 0 auto;
    gap: 2rem;
} .headline-fac{
    width: 86%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
} .fac-wrapper{
    display: flex;
    flex-direction: column;
    width: 42.5%;
    height: 10rem;
    
} .fac-wrapper p{
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    height: 1rem;
    color: grey;
} .fac-wrapper h3{
    margin-bottom: 0;
    padding-bottom: 0;
} .fac-wrapper a{
    margin-top: 3rem;
}

/* --- Main --- --- Sites --- */
.sites{
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 1fr;
    width: 85%;
    margin: 0 auto;
    margin-top: 10rem;
    gap: 2rem;
} .community-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
} .squirrel-button{
    background-color: #F78065;
    width: 11rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0.8rem;
    color: white;
    text-decoration: none;
} .squirrel-button img{
    width: 1.5rem;
    height: 1.5rem;
} .view-image{
    aspect-ratio: 100/175;
    object-fit: cover;

} .community{
    font-size: 1.5rem;
    width: 90%;
    margin-bottom: 0;
} @media (width > 1250px){
    .community{
        font-size: 2.75rem;
    }
    section.sites .community-wrapper p{
        font-size: 1.25rem;
    }
    .squirrel-button{
        width: 12.5rem;
    }
}

.community-wrapper p{
    width: 100%;
    font-size: 1.05rem;
    margin-bottom: 20%;
    color: grey;
} .view-wrapper{
    display: flex;
    flex-direction: column;
} .view-wrapper h3{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
} .city{
    color: #3F3D56;
    margin-bottom: 0.5rem;
} .squirrel-link{
    color: #F78065;
    text-decoration: none;
}

/* --- Main --- --- Advantages --- */

.adv-container{
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    margin: 0 auto;
    gap: 2rem;
}  .advantages{
    margin-top: 8rem;
}


/* --- Footer --- */

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    background-color: rgb(232, 232, 232);
    padding-top: 4rem;
}

.passion-wrapper{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    width: 85%;
    margin: 0 auto;
}

.eazy p{
    font-size: 2.5rem;
    width: 40%;
    margin: 0;
    margin-top: 0.5rem;
    font-weight: 800;
}

.eazy h2{
    margin: 0;
}
.link-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-wrapper section h2{
    margin-top: 0;
    font-size: 1.2rem;
}.link-wrapper section ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-right: auto;
} .link-wrapper div section a{
    text-decoration: none;
    color: black;
}

.nav-listing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 7rem;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-width: 0.1rem;
    border-color: rgb(171, 171, 171);
} .nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    gap: 2rem;
} .nav-ul a{
    text-decoration: none;
    color: black;
} .nav-listing small, a{
    font-weight: lighter;
}