 *{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.hero{
        position: relative;
}

.card-context{
    position: absolute;
    transform: translateY(-50%) translateX(3%);
    box-shadow: 0px 0px 5px 3px  rgb(94, 94, 94);
    background-color: white;
    width: 55%;
    padding: 2.5rem;
    padding-right: 5.1rem;
} .card-context p{
    color: grey;
}
@media (width < 600px){
    .card-context{
        transform: translateY(-50%) translateX(31%);
        display: flex;
        flex-direction: column;
    }
}

.explore-button{
    background-color: #F78065;
    border: none;
    width: 9rem;
    height: 2.5rem;
    color: white;
}