 *{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.hero{
        position: relative;
}

.card-context{
    position: absolute;
    transform: translateY(-50%) translateX(3%);
    box-shadow: 0px 0px 5px 3px  rgb(94, 94, 94);
    background-color: white;
    width: 55%;
    padding: 2.5rem;
    padding-right: 5.1rem;
} .card-context p{
    color: grey;
} .orange-text{
    color: #F78065;
}
@media (width < 600px){
    .card-context{
        transform: translateY(-50%) translateX(31%);
        display: flex;
        flex-direction: column;
    }
}

.explore-button{
    background-color: #F78065;
    border: none;
    width: 9rem;
    height: 2.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} .explore-button img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.icon-wrapper{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    width: 100%;
    transform: translateY(50%);
} .profile-pil{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    background-color: white;
    width: 5rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    margin-right: 4rem;
} .arrow{
    transform: rotateZ(-90deg);
    font-weight: bolder;
} .cuby{
    margin-left: 4rem;
}


/* --- Main --- --- Service --- */

.services{
    max-width: 100%;
    height: 100%;
    margin-top: 18rem;
} .service-container{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
} .squirrel img{
    width: 11rem;
} .grey-text{
    color: grey;
} .squirrel-color{
    color: #F78065;
}
/* --- Main --- --- Show facility --- */
.facilities{
    margin-top: 5rem;
}
.show-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1rem;
}
.fac-container{
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    margin: 0 auto;
    gap: 2rem;
} .headline-fac{
    width: 86%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
} .fac-wrapper{
    display: flex;
    flex-direction: column;
    width: 42.5%;
    height: 10rem;
    
} .fac-wrapper p{
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    height: 1rem;
    color: grey;
} .fac-wrapper h3{
    margin-bottom: 0;
    padding-bottom: 0;
} .fac-wrapper a{
    margin-top: 1.5rem;
}

/* --- Main --- --- Sites --- */
.sites{
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 1fr;
    width: 86%;
    margin: 0 auto;
    margin-top: 10rem;
} .community-wrapper{
    display: flex;
    flex-direction: column;
} .squirrel-button{
    background-color: #F78065;
    width: 10rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0.8rem;
    color: white;
    text-decoration: none;
} .squirrel-button img{
    width: 1.5rem;
    height: 1.5rem;
}